/*
	Theme Name: Streamline Pro Theme
	Custom Stylesheet for all additional styles outside the theme defaults
	
*/

.site-header {
	height: 165px !important;
}

.header-image .site-title a {
	min-height: 165px !important;
}

/* MEDIA QUERIES */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) { 

	.site-header { 
		height: auto !important;
	}

}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) { 

	.site-header { 
		height: auto !important;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1) { 

	.site-header { 
		height: auto !important;
	}

}
	