/*
	Custom Stylesheet for AgentPress Pro
*/

.home-featured .wrap {
	/*padding: 345px 0 0;*/
}

.home-featured .widget {
	/*padding: 13px; */
}

.site-header .genesis-nav-menu li a {
	padding: 32px 21px;
}