/*
	Theme Name: SMARTblog - Spring Green, Full Width
	Theme URL: http://studiopress.com
	Description: SMARTblog is a modified version of the Lifestyle theme by Studiopress. It is a 2 or 3-column Widget-ready child theme created for the Genesis Theme Framework.
	Author: SMARTblog
	Author URI: http://mysmartblog.com
	Version: 1.1

	Template: genesis

	The CSS, XHTML and design is released under GPL:
	http://www.opensource.org/licenses/gpl-license.php
*/

@import url(http://fonts.googleapis.com/css?family=Lato:400,700|Arvo:400,700|Oswald);

body {
background-color:#f1f1f1;
color:#333;
font-size:14px;
font-family: 'Lato', sans-serif;
line-height:20px;
background:url(../darby-default/images/black_linen_v2.png) repeat;
margin:0 auto;
}

.float-left {
float: left;
}

.info-btn-container {
max-width: 405px;
padding: 5px 0;
margin: 0 auto;
}

.info-btn-container p {
margin: 0px !important;
}

.info-btn {
background-color: #669138;
display: block;
padding: 1px 0px;
border-radius: 10px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
color: #ffffff;
width: 196px;
height: 41px;
text-align: center;
cursor: pointer;
}

.info-btn.purchase {
background-color: #75B432;
display: block;
padding: 1px 0px;
border-radius: 10px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
color: #ffffff;
width: 196px;
height: 41px;
text-align: center;
cursor: pointer;
}

.info-btn:hover {
background-color: #76A741;
display: block;
padding: 1px 0px;
border-radius: 10px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
color: #ffffff;
width: 196px;
height: 41px;
text-align: center;
cursor: pointer;
}

.info-btn.purchase:hover {
background-color: #6BC50B;
}

table.info {
	border: 1px solid #cccccc;
}

table.info td{
    border: 1px solid #E0E0E0;
    padding: 10px;
}

a,a:visited {
color:#4FB300;
text-decoration:none;
}

a:hover {
color:#4E8028;
text-decoration:underline;
}

a img {
border:none;
}

a:focus,a:hover,a:active {
outline:none;
}

#wrap {
width:100%;
position:relative;
}

#header {
background-image:url(../darby-springgreen-fullwidth/images/CustomHeaderHere_1436.jpg);
background-repeat: no-repeat !important;
background-position: center top !important;
width:100%;
height:250px;
margin:0 auto;
}

#title-area {
width:460px;
overflow:hidden;
margin:0 auto;
padding:20px 0 0;
background-position: center top !important;
}

#title-area #title {
color:#FFF;
font-size:30px;
font-family:Georgia, Times New Roman, Trebuchet MS;
font-weight:400;
text-decoration:none;
line-height:36px;
margin:0;
padding:0 0 0 20px;
}

#title-area #title a,#title-area #title a:hover {
text-decoration:none;
color:#000;
font-family:'Lato', sans-serif;
text-transform:uppercase;
text-shadow:1px 1px 1px #cfcfcf;
margin:0;
padding:0;
}

#title-area #description {
font-size:14px;
font-weight:400;
color:#000;
font-family:'Lato', sans-serif;
font-style:italic;
margin:0;
padding:20px 0 0 50px;
}

#header .widget-area {
width:488px;
float:right;
margin:0;
padding:20px 0 0;
}

#header .widget-area p {
margin:0;
padding:0 0 5px;
}

.header-image #title-area,.header-image #title-area #title,.header-image #title-area #title a {
display:block;
float:left;
width:460px;
height:100px;
text-indent:-9999px;
overflow:hidden;
padding:0;
}

.header-image #title-area #description {
display:block;
overflow:hidden;
}

.header-full-width #title-area,.header-full-width #title-area #title,.header-full-width #title-area #title a {
width:960px;
}

#header ul.nav,#header ul.menu {
width:auto;
float:right;
list-style:none;
color:#FFF;
text-transform:uppercase;
}

#header ul.nav li,#header ul.menu li {
float:left;
list-style:none;
margin:0;
padding:0;
}

#header ul.nav li a,#header ul.menu li a {
background:#333;
color:#FFF;
display:block;
font-size:12px;
text-decoration:none;
border-right:1px solid #666;
position:relative;
margin:0;
padding:6px 10px 5px;
}

#header ul.nav li a:hover,#header ul.nav li a:active,#header ul.nav .current_page_item a,#header ul.nav .current-cat a,#header ul.nav .current-menu-item,#header ul.menu li a:hover,#header ul.menu li a:active,#header ul.menu .current_page_item a,#header ul.menu .current-cat a,#header ul.menu .current-menu-item {
background:#000;
color:#FFF;
}

#header ul.nav li a .sf-sub-indicator,#header ul.menu li a .sf-sub-indicator {
display:block;
width:10px;
height:10px;
text-indent:-9999px;
overflow:hidden;
position:absolute;
top:11px;
right:5px;
background:url(../darby-silvercloud/images/arrow-down-white.png);
}

#header ul.nav li li a,#header ul.nav li li a:link,#header ul.nav li li a:visited,#header ul.menu li li a,#header ul.menu li li a:link,#header ul.menu li li a:visited {
background:#333;
color:#FFF;
width:158px;
font-size:11px;
border-left:1px solid #666;
border-right:1px solid #666;
border-bottom:1px solid #666;
position:relative;
margin:0;
padding:6px 10px;
}

#header ul.nav li li a:hover,#header ul.nav li li a:active,#header ul.menu li li a:hover,#header ul.menu li li a:active {
background:#000;
}

#header ul.nav li li a .sf-sub-indicator,#header ul.menu li li a .sf-sub-indicator {
background:url(../darby-silvercloud/images/arrow-right-white.png);
top:10px;
}

#header ul.nav li ul,#header ul.menu li ul {
z-index:9999;
position:absolute;
left:-999em;
height:auto;
width:180px;
margin:0;
padding:0;
}

#header ul.nav li ul a,#header ul.menu li ul a {
width:160px;
}

#header ul.nav li ul ul,#header ul.menu li ul ul {
margin:-33px 0 0 179px;
}

#nav {
width:100%;
font-family:'Lato', sans-serif;
font-size:14px;
color:#D8EEB8;
background: #cdeb8e; /* Old browsers */
background: -moz-linear-gradient(top,  #cdeb8e 0%, #a5c956 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%); /* IE10+ */
background: linear-gradient(to bottom,  #cdeb8e 0%,#a5c956 100%); /* W3C */
clear:both;
overflow:hidden;
min-height:43px;
border-bottom:1px solid #E3F6B8;
border-top:1px solid #E4F5C5;
}

#nav ul {
width:100%;
float:left;
list-style:none;
margin:0;
padding:7px 0;
}

#nav ul.menu {
width:980px;
background:transparent;
text-align:center;
float:none;
margin:0 auto;
}

#nav ul.menu li > a {
display:block;
font-family:'Lato', sans-serif;
font-size:14px;
color:#555;
text-decoration:none;
position:relative;
text-transform:uppercase;
margin:0 6px;
font-weight: 700;
/* padding:5px 14px; */
}

#nav li a {
color:#fff;
display:block;
font-family:'Lato', sans-serif;
font-size:16px;
text-decoration:none;
position:relative;
margin:0 3px;
padding:5px 12px;
}

#nav li a:hover,#nav li a:active,#nav .current_page_item a,#nav .current-cat a,#nav .current-menu-item {
color:#FFF;
}

#nav li a:hover,#nav li a:active {
background-color:rgba(221,253,162,0.58);
color:#fff;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
}

#nav li a .sf-sub-indicator {
background:url(../darby-springgreen-fullwidth/images/arrow-down-subnav-black.png);
display:block;
width:10px;
height:7px;
top:12px;
right:3px;
text-indent:-9999px;
overflow:hidden;
position:absolute;
}

#nav li li a,#nav li li a:link,#nav li li a:visited {
background:#f9ffec;
color:#4E4E4E;
border-radius:0!important;
width:140px;
text-align:left;
font-size:13px;
position:relative;
margin:0;
padding:2px 10px 4px;
}

#nav li li a:hover,#nav li li a:active {
color:#749639;
}

#nav li li a .sf-sub-indicator {
background:url(../darby-silvercloud/images/arrow-right.png);
top:7px;
height:10px;
}

#nav li ul {
z-index:9999;
position:absolute;
left:-999em;
height:auto;
width:160px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
background:#f9ffec!important;
padding:7px 0;
}

#nav li.right {
color:#fff;
float:right;
margin:0;
padding:7px 10px 8px;
}

#nav li.right a {
display:inline;
background:none;
color:#fff;
font-weight:400;
text-decoration:none;
border:none;
}

#nav li.right a:hover {
color:#fff;
text-decoration:underline;
}

#nav li.rss a {
background:url(../darby-silvercloud/images/rss.png) no-repeat left center;
margin:0 0 0 10px;
padding:3px 0 3px 16px;
}

#nav li.search {
padding:0 10px;
}

#nav li.twitter a {
background:url(../darby-silvercloud/images/twitter-nav.png) no-repeat left center;
padding:3px 0 1px 20px;
}

#subnav {
width:960px;
font-family:'Lato', sans-serif;
font-size:10px;
font-weight:700;
color:#FFF;
text-shadow:#333 1px 1px;
text-transform:uppercase;
clear:both;
overflow:hidden;
background:#3F3F3F;
}

#subnav ul {
width:100%;
float:left;
list-style:none;
margin:0;
padding:0;
}

#subnav li a {
color:#FFF;
display:block;
font-size:10px;
text-decoration:none;
position:relative;
margin:0;
padding:5px 15px;
}

#subnav li a:hover,#subnav li a:active,#subnav .current_page_item a,#subnav .current-cat a,#subnav .current-menu-item {
background:#2C343F;
color:#FFF;
background-color:#5F5F5F;
}

#subnav li a .sf-sub-indicator {
background:url(../darby-silvercloud/images/arrow-down-subnav.png);
display:block;
width:10px;
height:10px;
top:11px;
right:5px;
text-indent:-9999px;
overflow:hidden;
position:absolute;
}

#subnav li li a,#subnav li li a:link,#subnav li li a:visited {
background:#2C343F;
color:#FFF;
width:138px;
border-left:1px solid #FFF;
border-right:1px solid #FFF;
border-bottom:1px solid #FFF;
position:relative;
margin:0;
padding:5px 10px;
}

#subnav li li a:hover,#subnav li li a:active {
background:#0088B3;
color:#FFF;
}

#subnav li li a .sf-sub-indicator {
background:url(../darby-silvercloud/images/arrow-right-subnav.png);
top:10px;
}

#subnav li ul {
z-index:9999;
position:absolute;
left:-999em;
height:auto;
width:160px;
}

#inner {
width:980px;
margin:10px auto;
}

#content .dcg h2 {
font-size:18px;
font-weight:400!important;
}

#featured-top,#featured-bottom {
width:610px;
float:left;
}

.featured-top-left {
width:300px;
float:left;
}

.featured-top-right {
width:300px;
float:right;
}

#content #featured-top h2,#content #featured-top h2 a,#content #featured-bottom h2,#content #featured-bottom h2 a {
color:#0088B3;
font-size:18px;
font-weight:700;
margin:0;
}

#content #featured-top h4,#content #featured-bottom h4 {
color:#FFF;
font-size:11px;
font-family:'Lato', sans-serif;
font-weight:700;
margin:0;
}

#featured-bottom .user-profile p {
padding:10px;
}

.more-from-category a:hover {
text-decoration:underline;
}

.breadcrumb {
font-size:11px;
border-bottom:double #DDD;
margin:0 0 20px;
padding:0 0 3px;
}

.taxonomy-description {
background:#F7F7F7;
border:1px solid #DDD;
margin:0 0 30px;
padding:10px;
}

#content-sidebar-wrap {
width:1000px;
float:left;
}

.sidebar-content #content-sidebar-wrap,.content-sidebar #content-sidebar-wrap {
width:1000px;
}

#content {
background-color:#fff;
width:440px;
float:left;
margin:0 0 10px;
padding:13px;
}

.sidebar-content #content,.content-sidebar #content {
background:#fff;
width:630px;
border:1px solid #EBEBEB;
border-radius:5px;
box-shadow:0 0 10px #DBDBDB;
-moz-box-shadow:0 0 10px #DBDBDB;
-webkit-box-shadow:0 0 10px #DBDBDB;
margin:0 0 10px;
}

.full-width-content #content {
width:982px;
margin:0 0 10px;
padding:17px;
}

#content blockquote {
background:#F7F7F7;
border:1px solid #DDD;
margin:0 15px 15px;
padding:10px 20px 0 15px;
}

#content .post {
margin:20px 0;
padding:0;
}

.clear {
clear:both;
}

#content h1,#content h2,#content h3,#content h4,#content h5,#content h6,#header .widget-area h4 {
color:#333;
font-family:'Lato', sans-serif;
font-weight:400;
text-decoration:none;
margin:10px 0 5px;
padding:0;
}

#content h1 {
font-size:20px;
}

#content h2 {
font-size:18px;
}

#content h2 a,#content h2 a:visited {
color:#333;
text-decoration:none;
}

#content h2 a:hover {
color:#0088B3;
text-decoration:none;
}

#content h3 {
font-size:16px;
}

#content h5 {
font-size:12px;
}

#content h6 {
font-size:10px;
}

#content .post ul li,#content .page ul li,#content .post ol li,#content .page ol li,#header .widget-area ul li,#featured-bottom ul li,#featured-top ul li {
margin:0 0 0 20px;
padding:0;
}

#content .post ul li,#content .page ul li,#header .widget-area ul li,#featured-bottom ul li,#featured-top ul li {
list-style-type:square;
}

.post-info {
margin:0 0 5px;
padding:0;
}

.adsense {
border-top:1px solid #DDD;
padding:10px 0;
}

.post-meta {
border-top:1px solid #DDD;
clear:both;
margin:0;
padding:5px 0 0;
}

.author-box {
background:#F7F7F7;
border:1px solid #DDD;
overflow:hidden;
margin:0 0 40px;
padding:10px;
}

.author-box img {
background:#FFF;
float:left;
border:1px solid #DDD;
margin:0 10px 0 0;
padding:4px;
}

#content .archive-page {
float:left;
width:50%;
padding:20px 0;
}

.time,.categories {
background:#FFF url(../images/icon-time.gif) no-repeat top left;
margin:0;
padding:0 0 2px;
}

.post-comments {
background:#FFF url(../images/icon-comments.gif) no-repeat top left;
margin:0 0 0 3px;
padding:0 0 2px 20px;
}

.tags {
background:#FFF url(../images/icon-tags.gif) no-repeat top left;
margin:0 0 0 3px;
padding:0 0 2px 20px;
}

#content .entry-content .post-image {
border:1px solid #DDD;
padding:4px;
}

.entry-content {
border-bottom:1px solid #ddd;
padding-bottom:11px;
}

#content .post-image {
border:1px solid #DDD;
margin:0 10px 10px 0;
padding:4px;
}

img.centered,.aligncenter {
display:block;
margin:0 auto 10px;
}

img.alignnone {
display:inline;
margin:0 0 10px;
}

img.alignleft {
display:inline;
margin:0 10px 10px 0;
}

img.alignright {
display:inline;
margin:0 0 10px 10px;
}

.alignleft {
float:left;
margin:0 10px 0 0;
}

.alignright {
float:right;
margin:0 0 0 10px;
}

.wp-caption {
background:#F7F7F7;
text-align:center;
border:1px solid #DDD;
padding:5px 0 0 1px;
}

.wp-caption img {
border:0;
}

.wp-caption p.wp-caption-text {
font-size:11px;
font-weight:400;
line-height:12px;
}

img.wp-smiley,img.wp-wink {
float:none;
border:none;
}

.navigation {
width:100%;
overflow:hidden;
margin:0;
padding:20px 0;
}

.navigation ul {
list-style-type:none;
margin:0;
padding:0;
}

.navigation li {
display:inline;
}

.navigation li a,.navigation li.disabled {
color:#0088B3;
border:1px solid #DDD;
padding:5px 8px;
}

.navigation li a:hover,.navigation li.active a {
background:#0088B3;
color:#FFF;
border:1px solid #DDD;
text-decoration:none;
}

#sidebar {
width:340px;
float:right;
display:inline;
}

#sidebar-alt {
width:140px;
float:left;
display:inline;
}

#sidebar-bottom-left {
width:155px;
float:left;
display:inline;
}

#sidebar-bottom-right {
width:155px;
float:right;
display:inline;
}

.sidebar-content #sidebar,.sidebar-sidebar-content #sidebar {
float:left;
}

#sidebar .widget {
background:#fff;
border:1px solid #EBEBEB;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
overflow:hidden;
box-shadow:0 0 10px #DBDBDB;
-moz-box-shadow:0 0 10px #DBDBDB;
-webkit-box-shadow:0 0 10px #DBDBDB;
margin:0 0 10px;
padding:9px 9px 4px;
}

#sidebar .widget-search {
border:0!important;
}

#sidebar-alt .widget {
background:#FFF url(../darby-silvercloud/images/sidebar-alt-top.png) top no-repeat;
border:1px solid #DDD;
overflow:hidden;
margin:0 0 10px;
padding:9px 9px 4px;
}

#sidebar h2,#sidebar h2 a,#sidebar-alt h2,#sidebar-alt h2 a {
color:#0088B3;
font-size:14px;
font-family:'Lato', sans-serif;
font-weight:400;
margin:0;
padding:0;
}

#sidebar h4,#sidebar-alt h4 {
clear:both;
position:relative;
background-color:#F5F5F5;
width:101%;
margin:5px 0 0 -9px;
padding:7px 5px 5px 10px;
}

#sidebar .textwidget p,#sidebar-alt .textwidget p {
margin:0;
padding:10px 0 5px;
}

#sidebar ul,#sidebar ol,#sidebar-alt ul,#sidebar-alt ol {
list-style-type:none;
margin:10px 0 5px;
padding:0;
}

#sidebar ul ul,#sidebar ol ol,#sidebar-alt ul ul,#sidebar-alt ol ol {
margin:0;
padding:0 0 0 15px;
}

#sidebar li,#sidebar-alt li {
word-wrap:break-word;
padding:0 0 0 15px;
}

#sidebar embed,#sidebar object,#sidebar-alt embed,#sidebar-alt object {
width:300px;
height:225px;
margin:0;
padding:0;
}

#sidebar .widget_tag_cloud div div,#sidebar-alt .widget_tag_cloud div div {
padding:10px 5px 5px;
}

#cat {
background:#F7F7F7;
color:#0088B3;
font-family:'Lato', sans-serif;
font-size:11px;
display:inline;
border:1px solid #DDD;
margin:10px 0 5px;
padding:3px;
}

#sidebar #cat {
width:298px;
}

#sidebar-alt #cat {
width:128px;
}

#content .featuredpost .post,#content .featuredpage .page,#sidebar .featuredpost .post,#sidebar .featuredpage .page,#sidebar-alt .featuredpost .post,#sidebar-alt .featuredpage .page {
border-bottom:1px solid #DDD;
overflow:hidden;
margin:0;
padding:10px 0 0;
}

.featuredpost img,.featuredpage img,.featuredpost .avatar,.featuredpage .avatar {
background:#FFF;
border:1px solid #DDD;
margin:0 0 5px;
padding:4px;
}

#sidebar .user-profile .avatar {
background:#F7F7F7;
float:left;
border:1px solid #DDD;
margin:0;
padding:4px;
}

.user-profile p {
margin:0;
padding:10px 10px 0;
}

.user-profile .posts_link {
margin:0;
padding:0 0 10px 10px;
}

.searchform {
margin:0;
}

#header .searchform {
float:right;
padding:40px 0 0;
}

#nav .searchform {
float:right;
padding:6px 0 0;
}

.s {
background:#F7F7F7!important;
color:#0088B3;
font-family:'Lato', sans-serif;
font-size:11px;
border:1px solid #CCC;
margin:0;
padding:4px 0 4px 5px;
}

#header .s,#nav .s,#sidebar .s {
width:185px;
}

#sidebar-alt .s {
width:80px;
}

.enews {
background:url(../darby-silvercloud/images/enews.png) top right no-repeat;
margin:0;
padding:0 0 5px;
}

#sidebar .enews p {
margin:0;
padding:5px 10px 0 0;
}

#sidebar .enews #subscribe {
border-radius:5px;
background:linear-gradient(tobottom,#f2f5f60%,#e3eaed37%,#c8d7dc100%);
text-align:center;
padding:13px 3px 12px;
}

.enews #subbox,.enews #subbox1,.enews #subbox2 {
background:#F7F7F7!important;
width:250px;
color:#125f63;
font-family:'Lato', sans-serif;
font-size:11px;
border:1px solid #e0e0e0;
border-radius:5px;
margin:5px 5px 3px 0;
padding:8px 0 8px 5px;
}

.latest-tweets {
background:url(../darby-silvercloud/images/twitter.png) top right no-repeat;
margin:10px 0 0;
padding:0;
}

#wp-calendar {
width:100%;
}

#wp-calendar caption {
color:#333;
font-size:12px;
font-family:'Lato', sans-serif;
font-style:italic;
font-weight:400;
text-align:right;
margin:0;
padding:2px 5px 0 0;
}

#wp-calendar th {
color:#333;
}

#wp-calendar thead {
font-weight:700;
background:#F7F7F7!important;
color:#F7F7F7!important;
margin:10px 0 0;
}

#wp-calendar td {
background:#F7F7F7;
font-weight:400;
text-align:center;
padding:2px;
}

#submit,.searchsubmit,.enews #subbutton,.gform_footer .button,.reply a,.reply a:visited {
background:#2C343F!important;
color:#FFF;
font-family:'Lato', sans-serif;
font-size:12px;
font-weight:400!important;
text-decoration:none;
text-shadow:none;
width:255px;
background-color:#3e9bb4!important;
border:0;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
margin:5px auto;
padding:6px!important;
}

#submit:hover,.searchsubmit:hover,.enews #subbutton:hover,.gform_footer .button:hover,.reply a:hover {
background-color:#47a6c0!important;
cursor:pointer;
}

.gform_footer .button {
display:block;
text-align:center;
font-family:'Lato', sans-serif;
font-size:16px!important;
background:#2C343F!important;
color:#FFF;
min-width:259px;
margin:0 auto;
padding:11px!important;
}

.gform_wrapper input,.gform_wrapper textarea,.gform_wrapper select {
background:#F7F7F7!important;
color:#0088B3!important;
font-family:'Lato', sans-serif;
font-size:12px!important;
border:1px solid #DDD;
padding:4px 0 4px 5px !important;
}

.gform_footer input.button {
color:#FFF!important;
}

.gform_wrapper .ginput_complex label {
font-size:12px!important;
}

.gform_wrapper li,.gform_wrapper form li {
margin:0 0 10px!important;
}

.gform_wrapper .gform_footer {
border:none!important;
}

#footer {
background: rgba(66, 66, 66, 1);
color:#4c5a4b;
clear:both;
overflow:hidden;
font:11px 'Lato', sans-serif;
padding:20px 0;
}

#footer a,#footer a:visited {
color:#fff;
text-decoration:none;
}

#footer a:hover {
color:#fbf2ec;
text-decoration:underline;
}

#footer .gototop {
width:195px;
float:left;
margin:0;
padding:0 0 0 10px;
}

#footer .gototop a {
color:#fff!important;
background:url(../darby-silvercloud/images/footer-top.png) no-repeat left center;
margin:0;
padding:0 0 1px 18px;
}

#footer .creds {
float:right;
color:#fff;
text-align:right;
margin:0;
padding:0 10px 0 0;
}

#footer .wrap {
max-width:960px;
color:#fff;
margin:0 auto;
}

#author,#email,#url {
background:#F7F7F7!important;
width:250px;
color:#0088B3;
font-family:'Lato', sans-serif;
font-size:12px;
border:1px solid #DDD;
margin:5px 5px 0 0;
padding:3px 0 3px 3px;
}

#comment {
background:#F7F7F7!important;
width:98%;
height:150px;
color:#0088B3;
font-family:'Lato', sans-serif;
font-size:12px;
border:1px solid #DDD;
margin:5px 0;
padding:3px 0 3px 3px;
}

.ping-list {
margin:0 0 40px;
padding:0;
}

.comment-list ol,.ping-list ol {
margin:0;
padding:10px;
}

.comment-list li,.ping-list li {
font-weight:700;
list-style:none;
margin:15px 0 5px;
padding:10px 5px 10px 10px;
}

.comment-list li ul li {
margin-right:-6px;
margin-left:10px;
}

.comment-list p,.ping-list p {
font-weight:400;
text-transform:none;
margin:10px 5px 10px 0;
padding:0;
}

.comment-list li .avatar {
background:#FFF;
float:right;
border:1px solid #DDD;
margin:0 5px 0 10px;
padding:4px;
}

.comment-list cite,.comment-list cite a,.ping-list cite,.ping-list cite a {
font-weight:700;
font-style:normal;
}

.commentmetadata {
font-size:11px;
font-weight:400;
}

#respond:after {
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}

.nocomments {
text-align:center;
}

#comments .navigation {
display:block;
margin:10px 0 0;
}

.thread-alt,.thread-even {
background:#F7F7F7;
}

.even,.alt,.depth-1 {
border:1px solid #DDD;
margin:0;
padding:0;
}

#nav ul,#content #featured-top h4,#content #featured-bottom h4,#sidebar h4,#sidebar-alt h4 {
color:#5E5E5E;
font-family: 'Oswald', sans-serif;
font-weight: normal;
text-transform: uppercase;
}

#nav .children {
-moz-box-shadow:none;
-webkit-box-shadow:none;
box-shadow:none;
background:none;
text-shadow:none;
}

#content #featured-bottom h4 {
font:16px/27px 'Lato', sans-serif;
font-weight:700;
font-size:18px;
}

#content h1.entry-title {
font:23px/27px Roboto, sans-serif;
}

#content #featured-bottom .corner-left,#content h1.entry-title .corner-left {
font-family:'Lato', helvetica, arial, sans-serif;
width:0;
height:0;
line-height:0;
top:101%;
left:0;
position:absolute;
}

.featured-post-divider {
background:transparent!important;
border:0!important;
padding:0!important;
}

#wp125adwrap_2c .wp125ad {
border:none;
float:left;
padding:12px;
}

.searchsubmit {
width:auto;
margin:0 0 0 5px;
padding:5px 12px!important;
}

#ultimate-follow-me img:hover {
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
filter:alpha(opacity=70);
-moz-opacity:0.7;
-khtml-opacity:0.7;
opacity:0.7;
}

#additional-info {
overflow:hidden;
background-color: #292929;
margin:0 auto;
padding: 11px 30px 15px;
border-top: 3px solid #474747;
}

#additional-info .widget-wrap > div {
	margin: 0 auto;
	max-width: 910px;
}

#props-general-info #props-left {
width:270px!important;
}

#header ul.nav li a.sf-with-ul,#header ul.menu li a.sf-with-ul,#nav li a.sf-with-ul,#subnav li a.sf-with-ul {
padding-right:20px;
}

#header ul.nav li:hover ul ul,#header ul.nav li:hover ul ul ul,#header ul.nav li.sfHover ul ul,#header ul.nav li.sfHover ul ul ul,#header ul.menu li:hover ul ul,#header ul.menu li:hover ul ul ul,#header ul.menu li.sfHover ul ul,#header ul.menu li.sfHover ul ul ul,#nav li:hover ul ul,#nav li:hover ul ul ul,#nav li.sfHover ul ul,#nav li.sfHover ul ul ul,#subnav li:hover ul ul,#subnav li:hover ul ul ul,#subnav li.sfHover ul ul,#subnav li.sfHover ul ul ul {
left:-999em;
}

#header ul.nav li:hover ul,#header ul.nav li li:hover ul,#header ul.nav li li li:hover ul,#header ul.nav li.sfHover ul,#header ul.nav li li.sfHover ul,#header ul.nav li li li.sfHover ul,#header ul.menu li:hover ul,#header ul.menu li li:hover ul,#header ul.menu li li li:hover ul,#header ul.menu li.sfHover ul,#header ul.menu li li.sfHover ul,#header ul.menu li li li.sfHover ul,#nav li:hover ul,#nav li li:hover ul,#nav li li li:hover ul,#nav li.sfHover ul,#nav li li.sfHover ul,#nav li li li.sfHover ul,#subnav li:hover ul,#subnav li li:hover ul,#subnav li li li:hover ul,#subnav li.sfHover ul,#subnav li li.sfHover ul,#subnav li li li.sfHover ul {
left:auto;
}

#header ul.nav li:hover,#header ul.nav li.sfHover,#header ul.menu li:hover,#header ul.menu li.sfHover,#nav li:hover,#nav li.sfHover,#subnav li:hover,#subnav li.sfHover {
position:static;
}

#nav li,#subnav li {
float:left;
list-style:none;
}

#nav li ul a,#subnav li ul a {
width:140px;
}

#nav li ul ul,#subnav li ul ul {
margin:-31px 0 0 159px;
}

.dcg,.featuredpost,.featuredpage {
margin:0 0 10px;
padding:0;
}

#content #featured-top h2 a:hover,#content #featured-bottom h2 a:hover,#sidebar h2 a:hover,#sidebar-alt h2 a:hover {
color:#0088B3;
text-decoration:underline;
}

#featured-top .wrap,#featured-bottom .wrap,#featured-top p,#featured-bottom p {
margin:0;
padding:5px 0 0;
}

#featured-bottom .widget,#featured-top .widget,#respond {
margin:0 0 15px;
padding:0;
}

#featured-bottom .user-profile,.user-profile,.enews #subscribe {
overflow:hidden;
}

.more-from-category a,#content h3.widgettitle {
font-weight:700;
}

#content .taxonomy-description p,.post-info p,.author-box p,#footer p,.comment-list,.children {
margin:0;
padding:0;
}

.sidebar-sidebar-content #content-sidebar-wrap,.sidebar-content-sidebar #content-sidebar-wrap,.sidebar-content #content,.sidebar-sidebar-content #content,.content-sidebar-sidebar #sidebar-alt {
float:right;
}

#content .page,#content .post ul,#content .page ul,#content .post ol,#content .page ol,#header .widget-area ul,#featured-bottom ul,#featured-top ul {
margin:0;
padding:0 0 15px;
}

#content .post p,.featuredpost p,.featuredpage p {
margin:0;
padding:0 0 10px;
}

#content h4,#header .widget-area h4,#additional-info .widgettitle {
font-size:14px;
}

#content .post ul ul,#content .page ul ul,#content .post ol ol,#content .page ol ol,#sidebar .searchform,#sidebar .widget_calendar {
padding:0;
}