/*
	Theme Name: Going Green Pro Theme
	Theme URI: http://my.studiopress.com/themes/goinggreen/
	Description: A mobile responsive and HTML5 theme built for the Genesis Framework.
	Author: StudioPress
	Author URI: http://www.studiopress.com/
	Version: 3.1

	Tags: brown, green, one-column, two-columns, responsive-layout, custom-menu, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready, premise-landing-page

	Template: genesis
	Template Version: 2.1

	License: GPL-2.0+
	License URI: http://www.opensource.org/licenses/gpl-license.php
*/


/* Table of Contents

	- HTML5 Reset
		- Baseline Normalize
		- Box Sizing
		- Float Clearing
	- Defaults
		- Typographical Elements
		- Headings
		- Objects
		- Galleries
		- Forms
		- Tables
	- Structure and Layout
		- Site Containers
		- Column Widths and Positions
		- Column Classes
	- Common Classes
		- WordPress
		- Genesis
		- Titles
	- Widgets
		- Featured Content
	- Plugins
		- Genesis eNews Extended
		- Genesis Latest Tweets
		- Gravity Forms
		- Jetpack
	- Site Header
		- Title Area
		- Widget Area
	- Site Navigation
		- Header Navigation
		- Primary Navigation
		- Secondary Navigation
		- Responsive Menu
	- Content Area
		- Entries
		- After Entry
		- Pagination
		- Comments
	- Sidebars
	- Footer Widgets
	- Site Footer
	- Theme Colors
		- Going Green Pro Forest
		- Going Green Pro Mint
		- Going Green Pro Olive
	- Media Queries
		- max-width: 1268px
		- max-width: 1023px
		- max-width: 834px

*/


/*
HTML5 Reset
---------------------------------------------------------------------------------------------------- */

/* Baseline Reset (normalize.css 2.1.2)
	normalize.css v2.1.2 | MIT License | git.io/normalize
--------------------------------------------- */

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

/* Box Sizing
--------------------------------------------- */

*,
input[type="search"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

/* Float Clearing
--------------------------------------------- */

.author-box:before,
.clearfix:before,
.entry-content:before,
.entry:before,
.footer-widgets:before,
.nav-primary:before,
.nav-secondary:before,
.pagination:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.widget:before,
.wrap:before {
	content: " ";
	display: table;
}

.author-box:after,
.clearfix:after,
.entry-content:after,
.entry:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.widget:after,
.wrap:after {
	clear: both;
	content: " ";
	display: table;
}


/*
Defaults
---------------------------------------------------------------------------------------------------- */

/* Typographical Elements
--------------------------------------------- */

body {
	background: #EFF5F3 url(images/pattern-light.png);
	color: #7a7768;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.625;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

::-moz-selection {
	background-color: #3e3827;
	color: #fff;
}

::selection {
	background-color: #3e3827;
	color: #fff;
}

a {
	color: #319A82;
	text-decoration: none;
}

a img {
	margin-bottom: -4px;
}

a:hover {
	color: #D0D0D0;
}

p {
	margin: 0 0 24px;
	padding: 0;
}

strong {
	font-weight: 700;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

blockquote,
blockquote::before {
	color: #c3bbad;
}

blockquote {
	margin: 40px 40px 24px;
}

blockquote::before {
	content: "\201C";
	display: block;
	font-size: 30px;
	height: 0;
	left: -20px;
	position: relative;
	top: -10px;
}

.entry-content code {
	background-color: #333;
	color: #ddd;
}

cite {
	font-style: normal;
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	line-height: 1.2;
	margin: 0 0 16px;
	padding: 0;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
}

.featured-content img,
.gallery img {
	width: auto; /* IE8 */
}

/* Gallery
--------------------------------------------- */

.gallery {
	overflow: hidden;
	margin-bottom: 28px;
}

.gallery-item {
	float: left;
	margin: 0;
	padding: 0 4px;
	text-align: center;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	width: 50%;
}

.gallery-columns-3 .gallery-item {
	width: 33%;
}

.gallery-columns-4 .gallery-item {
	width: 25%;
}

.gallery-columns-5 .gallery-item {
	width: 20%;
}

.gallery-columns-6 .gallery-item {
	width: 16.6666%;
}

.gallery-columns-7 .gallery-item {
	width: 14.2857%;
}

.gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	width: 11.1111%;
}

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
	clear: left;
}

.gallery .gallery-item img {
	border: none;
	height: auto;
	margin: 0;
}

/* Forms
--------------------------------------------- */

input,
select,
textarea {
	background-color: #fff;
	border: 1px solid #dddad3;
	border-radius: 3px;
	box-shadow: 1px 1px 3px #f8f8f8 inset;
	color: #c3bbad;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 300;
	padding: 16px;
	width: 100%;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

input:focus,
textarea:focus {
	border: 1px solid #999;
	outline: none;
}

::-moz-placeholder {
	color: #c3bbad;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #c3bbad;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.entry-content .button {
	background-color: #318A9A;
	border: none;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	letter-spacing: 1px;
	padding: 16px 24px;
	text-transform: uppercase;
	width: auto;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover,
.entry-content .button:hover {
	background-color: #6AC3C3;
	color: #fff;
}

.entry-content .button:hover {
	color: #fff;
}

.button {
	border-radius: 3px;
	display: inline-block;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

/* Excerpt read more button style */

a.read-more {
	background-color: #efefef;
	padding: 7px;
	color: rgb(166, 44, 0) !important;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-weight: 500;
}

/* Tables
--------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 40px;
	width: 100%;
}

tbody {
	border-bottom: 1px solid #ddd;
}

th,
td {
	text-align: left;
}

th {
	font-weight: bold;
	text-transform: uppercase;
}

td {
	border-top: 1px solid #ddd;
	padding: 6px 0;
}


/*
Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* Site Containers
--------------------------------------------- */

.wrap {
	margin: 0 auto;
	max-width: 1140px;
}

.site-inner {
	background: rgba( 0, 0, 0, 0.3 );
	clear: both;
	margin: -160px auto 0;
	max-width: 1140px;
	padding: 10px;
	position: relative;
	z-index: 9;
}

.site-inner .wrap {
	background: #f5f4f2 url(images/pattern-light.png);
	background-size: 10px 10px;
	width: 100%;
}

.going-green-pro-landing .site-inner {
	margin: 60px auto;
	max-width: 960px;
}

/* Column Widths and Positions
--------------------------------------------- */

/* Content */

.content {
	background: #fff url(images/pattern-light.png);
	background-size: 10px 10px;
	float: right;
	padding: 0;
	width: 760px;
}

.content-sidebar .content {
	float: left;
}

.full-width-content .content {
	width: 100%;
}

/* Primary Sidebar */

.sidebar-primary {
	float: right;
	width: 360px;
	word-wrap: break-word;
}

.sidebar-content .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary {
	float: left;
}

/* Column Classes
	Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css
--------------------------------------------- */

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 2.564102564102564%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48.717948717948715%;
}

.one-third,
.two-sixths {
	width: 31.623931623931625%;
}

.four-sixths,
.two-thirds {
	width: 65.81196581196582%;
}

.one-fourth {
	width: 23.076923076923077%;
}

.three-fourths {
	width: 74.35897435897436%;
}

.one-sixth {
	width: 14.52991452991453%;
}

.five-sixths {
	width: 82.90598290598291%;
}

.first {
	clear: both;
	margin-left: 0;
}


/*
Common Classes
---------------------------------------------------------------------------------------------------- */

/* WordPress
--------------------------------------------- */

.avatar {
	border-radius: 50%;
	float: left;
	
}

.alignleft .avatar {
	margin-right: 24px;
}

.alignright .avatar {
	margin-left: 24px;
}

.search-form {
	overflow: hidden;
}

.search-form input[type="search"] {
	color: #c3bbad;
	font-size: 12px;
	text-transform: uppercase;
}

.genesis-nav-menu .search input[type="submit"],
.widget_search input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}

a.aligncenter img {
	display: block;
	margin: 0 auto;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 24px;
}

a.alignnone {
	display: inline-block;
}

img.alignnone,
.alignnone {
	margin-bottom: 12px;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
	max-width: 100%;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 12px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
	margin: 0 0 12px 24px;
}

.entry-content .wp-caption-text {
	font-size: 14px;
	font-weight: 700;
	margin: 0;
	text-align: center;
}

.gallery-caption,
.entry-content .gallery-caption {
	margin: 0 0 10px;
}

.widget_calendar table {
	width: 100%;
}

.widget_calendar td,
.widget_calendar th {
	text-align: center;
}

/* Genesis
--------------------------------------------- */

.breadcrumb {
	background-color: #f5f4f2;
	color: #c3bbad;
	font-size: 12px;
	letter-spacing: 1px;
	padding: 16px 40px;
	text-transform: uppercase;
}

.archive-description,
.author-box {
	background-color: #f5f4f2;
	margin-bottom: 40px;
}

.archive-description {
	padding: 40px 40px 24px;
}

.author-box {
	padding: 40px;
}

.author-box-title {
	color: #319a54;
	font-family: 'Lora', serif;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 4px;
}

.author-box p {
	margin-bottom: 0;
}

.author-box .avatar {
	margin-right: 24px;
}

/* Titles
--------------------------------------------- */

.entry-title {
	color: #237D98;
	font-size: 38px;
	line-height: 1;
	padding: 40px 40px 0;
}

.entry-title a {
	color: #237D98;
}

.entry-title a:hover {
	color: #46402f;
}

.widget-title {
	font-family: 'Lato', serif;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0;
	text-align: center;
	margin-bottom: 17px;
}

.archive-title {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 24px;
}

.sidebar .widget-title,
.sidebar .widget-title a {
	color: #4F4F4F;
}

.footer-widgets .widget-title {
	color: #237D98;
}


/*
Widgets
---------------------------------------------------------------------------------------------------- */

/* Featured Content
--------------------------------------------- */

.featured-content .entry {
	margin-bottom: 20px;
}

.featured-content .entry-meta,
.featured-content .entry-content,
.featured-content .entry-footer {
	padding: 0;
}

.featured-content .entry-title {
	font-size: 24px;
	line-height: 1.2;
	padding: 0;
}


/*
Plugins
---------------------------------------------------------------------------------------------------- */

/* Genesis eNews Extended
--------------------------------------------- */

.enews-widget {
	color: #c3bbad;
}

.enews-widget .widget-title {
	color: #fff;
}

.enews-widget input {
	margin-bottom: 16px;
}

.enews-widget input:focus {
	border: 1px solid #ddd;
}

.enews-widget input[type="submit"] {
	background-color: #2EA6BB;
	color: #fff;
	margin: 0;
	width: 100%;
}

.enews-widget input:hover[type="submit"] {
	background-color: #57CDE2;
	color: #3e3827;
}

.enews form + p {
	margin-top: 24px;
}

/* Genesis Latest Tweets
--------------------------------------------- */

.latest-tweets ul li {
	margin-bottom: 16px;
}

/* Gravity Forms
--------------------------------------------- */

div.gform_wrapper input[type="email"],
div.gform_wrapper input[type="text"],
div.gform_wrapper textarea,
div.gform_wrapper .ginput_complex label {
	font-size: 16px;
	padding: 16px;
}

div.gform_wrapper .ginput_complex label {
	padding: 0;
}

div.gform_wrapper li,
div.gform_wrapper form li {
	margin: 16px 0 0;
}

div.gform_wrapper .gform_footer input[type="submit"] {
	font-size: 14px;
}

/* Jetpack
--------------------------------------------- */

img#wpstats {
	display: none;
}


/*
Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background: #5BA3B8 url(images/pattern.png);
	background-size: 10px 10px;
	color: #fff;
	padding: 27px 0 187px;
	overflow: hidden;
}

/* Title Area
--------------------------------------------- */

.title-area {
	float: left;
	padding: 0;
	width: 360px;
}

.header-image .title-area {
	height: 70px;
	padding: 0;
}

.site-title {
	font-family: 'Lora', serif;
	font-size: 42px;
	font-weight: 700;
	line-height: 1;
	margin: 0 0 12px;
}

.site-title a,
.site-title a:hover {
	color: #fff;
}

.site-description {
	color: #DADADA;
	font-size: 14px;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 2px;
	margin: 0;
	text-transform: uppercase;
}

/* Full width header, no widgets */

.header-full-width .title-area,
.header-full-width .site-title {
	width: 100%;
}

.header-image .site-description,
.header-image .site-title a {
	display: block;
	text-indent: -9999px;
}

/* Widget Area
--------------------------------------------- */

.site-header .widget-area {
	float: right;
	text-align: right;
	width: 740px;
}

.site-header .widget-area a {
	color: #fff;
}

.site-header .widget-area a:hover {
	color: #E1FFF8;
}

.site-header .search-form {
	float: right;
	margin-top: 24px;
}


/*
Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.5;
	width: 100%;
}

.genesis-nav-menu .menu-item {
	border: none;
	display: inline-block;
	margin: 0;
	padding: 0;
	text-align: left;
}

.genesis-nav-menu a {
	color: #fff;
	display: block;
	padding: 24px 16px;
	position: relative;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a {
	color: #398298;
}

.genesis-nav-menu .sub-menu {
	-moz-transition:    opacity .4s ease-in-out;
	-ms-transition:     opacity .4s ease-in-out;
	-o-transition:      opacity .4s ease-in-out;
	-webkit-transition: opacity .4s ease-in-out;
	left: -9999px;
	opacity: 0;
	position: absolute;
	transition:         opacity .4s ease-in-out;
	width: 175px;
	z-index: 99;
}

.genesis-nav-menu .sub-menu a {
	background-color: #398298;
	font-size: 12px;
	letter-spacing: 0;
	padding: 14px 20px;
	position: relative;
	width: 175px;
}

.genesis-nav-menu .sub-menu a:hover,
.genesis-nav-menu .sub-menu .current-menu-item > a {
	background-color: #fff;
	color: #398298;
}

.genesis-nav-menu .sub-menu .sub-menu {
	margin: -46px 0 0 174px;
}

.genesis-nav-menu .menu-item:hover {
	position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}

.genesis-nav-menu > .first > a {
	padding-left: 0;
}

.genesis-nav-menu > .last > a {
	padding-right: 0;
}

.genesis-nav-menu > .right {
	display: inline-block;
	float: right;
	list-style-type: none;
	padding: 24px 0;
}

.genesis-nav-menu > .right > a {
	display: inline;
	padding: 0;
}

.genesis-nav-menu > .rss > a {
	padding: 24px 16px;
}

.genesis-nav-menu > .search {
	padding: 10px 0 0;
}

/* Site Header Navigation
--------------------------------------------- */

.site-header .genesis-nav-menu a {
	text-transform: uppercase;
}

/* Primary Navigation
--------------------------------------------- */

.nav-primary {
	background-color: #157F98;
}

.nav-primary .genesis-nav-menu a:hover,
.nav-primary .genesis-nav-menu .current-menu-item > a {
	color: #E1FFF8;
}

.nav-primary .sub-menu a:hover,
.nav-primary .sub-menu .current-menu-item > a {
	color: #984a23;
}

/* Secondary Navigation
--------------------------------------------- */



/* Responsive Menu
--------------------------------------------- */

.responsive-menu-icon {
	cursor: pointer;
	display: none;
}

.responsive-menu-icon::before {
	color: #fff;
	content: "\f333";
	display: block;
	font: normal 20px/1 'dashicons';
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}

.site-header .responsive-menu-icon::before {
	padding: 20px 0 0;
}


/*
Content Area
---------------------------------------------------------------------------------------------------- */

/* Entries
--------------------------------------------- */

.entry {
	margin-bottom: 40px;
}

.entry-meta,
.entry-footer {
	padding: 0 40px;
}

.entry-content {
	padding: 0 25px 20px 25px;
}

.entry-content ol,
.entry-content p,
.entry-content ul,
.quote-caption {
	margin-bottom: 26px;
}

.entry-content ol,
.entry-content ul {
	margin-left: 40px;
}

.entry-content ol > li {
	list-style-type: decimal;
}

.entry-content ul > li {
	list-style-type: square;
}

.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}

.entry-content .search-form {
	width: 50%;
}

.entry-meta {
	color: #c3bbad;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.entry-meta a {
	color: #c3bbad;
}

.entry-meta a:hover {
	color: #319a54;
}


.entry-header .entry-meta {
	margin-bottom: 24px;
}

article.testimonial > .entry-header .entry-meta {
	display: none !important;
}

.entry-footer .entry-meta {
	border-top: 1px dashed #7f7a62;
	margin: 0;
	padding: 24px 0 8px;
}

.entry-comments-link::before,
.entry-tags::before {
	content: "\2F";
	margin: 0 6px 0 2px;
}

/* After Entry
--------------------------------------------- */

.after-entry {
	background: #443e2c url(images/pattern-dark.png);
	color: #c3bbad;
	padding: 40px;
	text-align: center;
}

.after-entry .widget {
	margin-bottom: 40px;
}

.after-entry .widget .entry-title a,
.after-entry .widget-title {
	color: #fff;
}

.after-entry .widget .entry-title a:hover {
	color: #984a23;
}

.after-entry .widget:last-child,
.after-entry p:last-child {
	margin-bottom: 0;
}

.after-entry li {
	list-style-type: none;
}

/* Pagination
--------------------------------------------- */

.archive-pagination {
	clear: both;
	font-size: 14px;
	padding: 0 40px 40px;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination li a {
	background-color: #dddad3;
	border-radius: 3px;
	color: #984a23;
	cursor: pointer;
	display: inline-block;
	margin-bottom: 4px;
	padding: 8px 12px;
}

.archive-pagination li a:hover,
.archive-pagination li.active a {
	background-color: #549BB0;
	color: #fff;
}

/* Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
	margin-bottom: 40px;
}

.entry-comments {
	padding: 0 40px;
}

.comment-respond,
.entry-pings {
	padding: 40px 40px 16px;
}

.comment-content {
	clear: both;
}

.entry-comments .comment-author {
	margin-bottom: 0;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 50%
}

.comment-respond label {
	display: block;
	margin-right: 12px;
}

.comment-list li,
.ping-list li {
	list-style-type: none;
	margin: 24px 0 16px 140px;
	padding: 32px;
	position: relative;
}

.comment-list li li {
	margin-right: -32px;
}

.comment .avatar {
	display: block;
	float: none;
	margin: 0 auto 12px;
}

.comment-list .comment-author {
	font-size: 13px;
	left: -170px;
	position: absolute;
	text-align: center;
	top: 10px;
	width: 170px;
}

.comment-list .comment-author .says {
	display: none;
}

.comment-list cite {
	display: block;
	text-align: center;
	margin-top: 10px;
}

.comment-meta {
	color: #7c7a77;
	font-size: 10px;
	left: -180px;
	position: absolute;
	top: 90px;
	text-align: center;
	width: 180px;
}

.comment-list .comment-author:before {
	content: '';
	display: block;
	height: 0;
	position: absolute;
	right: 0px;
	border-bottom: 25px solid;
	border-left: 10px solid;
	border-right: 17px solid;
	border-top: 15px solid;
	border-color: #f5f4f2 #f5f4f2 transparent transparent;
	top: 20px;
	width: 0;
}

.depth-2 .comment-author:before,
.depth-4 .comment-author:before {
	border-color: #fff #fff transparent transparent;
}

.depth-3 .comment-author:before {
	border-color: #f5f4f2 #f5f4f2 transparent transparent;
}

.ping-list .comment-meta {
	color: #7c7a77;
	font-size: 11px;
	margin: 0 0 5px;
}

.reply {
	font-size: 14px;
}

.nocomments {
	text-align: center;
}

#comments .navigation {
	display: block;
}

.depth-3,
.thread-alt,
.thread-even {
	background-color: #f5f4f2;
}

.depth-2,
.depth-4 {
	background-color: #fff;
}

.form-allowed-tags {
	background-color: #f5f4f2;
	font-size: 14px;
	padding: 24px;
}


/*
Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar a {
	color: #984a23;
}

.sidebar a:hover {
	color: #319a54;
}

.sidebar .button,
.sidebar .button:hover {
	color: #fff;
}

.sidebar .widget {
	border-bottom: 1px dashed #dddad3;
	padding: 19px 23px;
}

.sidebar .enews-widget {
	background: #443e2c url(images/pattern-dark.png);
	background-size: 10px 10px;
	box-shadow: inset 10px 0 10px -10px #2f2a1e;
}

.sidebar-content .sidebar .enews-widget {
	box-shadow: inset -10px 0 10px -10px #2f2a1e;
}

.widget {
	word-wrap: break-word;
}

.widget li {
	text-align: left;
}

.widget ol > li {
	border-bottom: 1px dashed #827d65;
	list-style-position: inside;
	list-style-type: decimal;
	margin-bottom: 12px;
	padding-bottom: 12px;
	padding-left: 20px;
	text-indent: -20px;
}

.widget ul > li {
	border-bottom: 1px dashed #827d65;
	list-style-type: none;
	margin-bottom: 12px;
	padding-bottom: 12px;
}

.widget li li {
	border: none;
	margin: 0 0 0 30px;
	padding: 0;
}

.widget p:last-child,
.widget ol > li:last-child,
.widget ul > li:last-child  {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}


/*
Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	background: rgba( 0, 0, 0, 0.3 );
	clear: both;
	margin: 40px auto 0;
	padding: 10px;
	position: relative;
	max-width: 1140px;
	z-index: 9;
}

.footer-widgets .wrap {
	background: #fff url(images/pattern-light.png);
	background-size: 10px 10px;
	clear: both;
	padding: 40px 40px 16px;
	width: 100%;
}

.footer-widgets-1,
.footer-widgets-3 {
	width: 320px;
}

.footer-widgets-2 {
	width: 310px;
}

.footer-widgets-1 {
	margin-right: 40px;
}

.footer-widgets-1,
.footer-widgets-2 {
	float: left;
}

.footer-widgets-3 {
	float: right;
}

.footer-widgets .widget {
	margin-bottom: 24px;
}

.footer-widgets .search-form input:focus {
	border: 1px solid #ddd;
}


/*
Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background: #3C565A url(images/pattern-dark.png);
	background-size: 10px 10px;
	box-shadow: inset 0 3px 4px #3c3624;
	color: #c3bbad;
	font-size: 14px;
	font-weight: 700;
	margin-top: -160px;
	padding: 220px 0 60px;
	text-align: center;
	text-transform: uppercase;
}

.site-footer a {
	color: #c3bbad;
}

.site-footer a:hover {
	color: #fff;
}

.site-footer p {
	margin-bottom: 0;
}


/*
Theme Colors
---------------------------------------------------------------------------------------------------- */

/* Going Green Pro Purple */
.going-green-pro-forest .author-box-title,
.going-green-pro-forest .entry-meta a:hover,
.going-green-pro-forest .nav-primary .genesis-nav-menu .current-menu-item > a,
.going-green-pro-forest .nav-primary .genesis-nav-menu a:hover,
.going-green-pro-forest .sidebar a:hover,
.going-green-pro-forest a {
	color: #287241;
}

.going-green-pro-forest .site-description,
.going-green-pro-forest .genesis-nav-menu .current-menu-item > a,
.going-green-pro-forest .genesis-nav-menu a:hover,
.going-green-pro-forest .site-header .widget-area a:hover {
	color: #1b4d2c;
}

.going-green-pro-forest .entry-title,
.going-green-pro-forest .entry-title a,
.going-green-pro-forest .footer-widgets .widget-title,
.going-green-pro-forest .genesis-nav-menu .sub-menu .current-menu-item > a,
.going-green-pro-forest .genesis-nav-menu .sub-menu a:hover,
.going-green-pro-forest .navigation li a,
.going-green-pro-forest .sidebar .widget-title a,
.going-green-pro-forest .sidebar a,
.going-green-pro-forest a:hover {
	color: #984a23;
}

.going-green-pro-forest .entry-meta a,
.going-green-pro-forest .site-footer a {
	color: #c3bbad;
}

.going-green-pro-forest .entry-title a:hover {
	color: #46402f;
}

.going-green-pro-forest .after-entry .widget-title,
.going-green-pro-forest .button,
.going-green-pro-forest .button:hover,
.going-green-pro-forest .enews-widget .widget-title,
.going-green-pro-forest .genesis-nav-menu a,
.going-green-pro-forest .navigation li a:hover,
.going-green-pro-forest .navigation li.active a,
.going-green-pro-forest .sidebar .button,
.going-green-pro-forest .sidebar .button:hover,
.going-green-pro-forest .site-footer a:hover,
.going-green-pro-forest .site-title a,
.going-green-pro-forest .site-title a:hover {
	color: #fff;
}

.going-green-pro-forest .enews-widget input[type="submit"],
.going-green-pro-forest button:hover,
.going-green-pro-forest input:hover[type="button"],
.going-green-pro-forest input:hover[type="reset"],
.going-green-pro-forest input:hover[type="submit"] {
	background-color: #287241;
}

.going-green-pro-forest .site-header {
	background-color: #592b7b;
}

.going-green-pro-forest .genesis-nav-menu .sub-menu a,
.going-green-pro-forest .nav-primary {
	background-color: #1b4d2c;
}

.enews-widget input:hover[type="submit"],
.genesis-nav-menu .sub-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu a:hover {
	background-color: #fff;
}


/* Going Green Pro Forest
--------------------------------------------- */

.going-green-pro-forest .author-box-title,
.going-green-pro-forest .entry-meta a:hover,
.going-green-pro-forest .nav-primary .genesis-nav-menu .current-menu-item > a,
.going-green-pro-forest .nav-primary .genesis-nav-menu a:hover,
.going-green-pro-forest .sidebar a:hover,
.going-green-pro-forest a {
	color: #287241;
}

.going-green-pro-forest .site-description,
.going-green-pro-forest .genesis-nav-menu .current-menu-item > a,
.going-green-pro-forest .genesis-nav-menu a:hover,
.going-green-pro-forest .site-header .widget-area a:hover {
	color: #1b4d2c;
}

.going-green-pro-forest .entry-title,
.going-green-pro-forest .entry-title a,
.going-green-pro-forest .footer-widgets .widget-title,
.going-green-pro-forest .genesis-nav-menu .sub-menu .current-menu-item > a,
.going-green-pro-forest .genesis-nav-menu .sub-menu a:hover,
.going-green-pro-forest .navigation li a,
.going-green-pro-forest .sidebar .widget-title a,
.going-green-pro-forest .sidebar a,
.going-green-pro-forest a:hover {
	color: #984a23;
}

.going-green-pro-forest .entry-meta a,
.going-green-pro-forest .site-footer a {
	color: #c3bbad;
}

.going-green-pro-forest .entry-title a:hover {
	color: #46402f;
}

.going-green-pro-forest .after-entry .widget-title,
.going-green-pro-forest .button,
.going-green-pro-forest .button:hover,
.going-green-pro-forest .enews-widget .widget-title,
.going-green-pro-forest .genesis-nav-menu a,
.going-green-pro-forest .navigation li a:hover,
.going-green-pro-forest .navigation li.active a,
.going-green-pro-forest .sidebar .button,
.going-green-pro-forest .sidebar .button:hover,
.going-green-pro-forest .site-footer a:hover,
.going-green-pro-forest .site-title a,
.going-green-pro-forest .site-title a:hover {
	color: #fff;
}

.going-green-pro-forest .enews-widget input[type="submit"],
.going-green-pro-forest button:hover,
.going-green-pro-forest input:hover[type="button"],
.going-green-pro-forest input:hover[type="reset"],
.going-green-pro-forest input:hover[type="submit"] {
	background-color: #287241;
}

.going-green-pro-forest .site-header {
	background-color: #287241;
}

.going-green-pro-forest .genesis-nav-menu .sub-menu a,
.going-green-pro-forest .nav-primary {
	background-color: #1b4d2c;
}

.enews-widget input:hover[type="submit"],
.genesis-nav-menu .sub-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu a:hover {
	background-color: #fff;
}

/* Going Green Pro Mint
--------------------------------------------- */

.going-green-pro-mint .author-box-title,
.going-green-pro-mint .entry-meta a:hover,
.going-green-pro-mint .nav-primary .genesis-nav-menu .current-menu-item > a,
.going-green-pro-mint .nav-primary .genesis-nav-menu a:hover,
.going-green-pro-mint .sidebar a:hover,
.going-green-pro-mint a {
	color: #329d7e;
}

.going-green-pro-mint .site-description,
.going-green-pro-mint .genesis-nav-menu .current-menu-item > a,
.going-green-pro-mint .genesis-nav-menu a:hover,
.going-green-pro-mint .site-header .widget-area a:hover {
	color: #25755e;
}

.going-green-pro-mint .entry-title,
.going-green-pro-mint .entry-title a,
.going-green-pro-mint .footer-widgets .widget-title,
.going-green-pro-mint .genesis-nav-menu .sub-menu .current-menu-item > a,
.going-green-pro-mint .genesis-nav-menu .sub-menu a:hover,
.going-green-pro-mint .navigation li a,
.going-green-pro-mint .sidebar .widget-title a,
.going-green-pro-mint .sidebar a,
.going-green-pro-mint a:hover {
	color: #984a23;
}

.going-green-pro-mint .entry-meta a,
.going-green-pro-mint .site-footer a {
	color: #c3bbad;
}

.going-green-pro-mint .entry-title a:hover {
	color: #46402f;
}

.going-green-pro-mint .after-entry .widget-title,
.going-green-pro-mint .button,
.going-green-pro-mint .button:hover,
.going-green-pro-mint .enews-widget .widget-title,
.going-green-pro-mint .genesis-nav-menu a,
.going-green-pro-mint .navigation li a:hover,
.going-green-pro-mint .navigation li.active a,
.going-green-pro-mint .sidebar .button,
.going-green-pro-mint .sidebar .button:hover,
.going-green-pro-mint .site-footer a:hover,
.going-green-pro-mint .site-title a,
.going-green-pro-mint .site-title a:hover {
	color: #fff;
}

.going-green-pro-mint .enews-widget input[type="submit"],
.going-green-pro-mint button:hover,
.going-green-pro-mint input:hover[type="button"],
.going-green-pro-mint input:hover[type="reset"],
.going-green-pro-mint input:hover[type="submit"] {
	background-color: #329d7e;
}

.going-green-pro-mint .site-header {
	background-color: #329d7e;
}

.going-green-pro-mint .genesis-nav-menu .sub-menu a,
.going-green-pro-mint .nav-primary{
	background-color: #25755e;
}

.enews-widget input:hover[type="submit"],
.genesis-nav-menu .sub-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu a:hover {
	background-color: #fff;
}

/* Going Green Pro Olive
--------------------------------------------- */

.going-green-pro-olive .author-box-title,
.going-green-pro-olive .entry-meta a:hover,
.going-green-pro-olive .nav-primary .genesis-nav-menu .current-menu-item > a,
.going-green-pro-olive .nav-primary .genesis-nav-menu a:hover,
.going-green-pro-olive .sidebar a:hover,
.going-green-pro-olive a {
	color: #609a31;
}

.going-green-pro-olive .site-description,
.going-green-pro-olive .genesis-nav-menu .current-menu-item > a,
.going-green-pro-olive .genesis-nav-menu a:hover,
.going-green-pro-olive .site-header .widget-area a:hover {
	color: #456f24;
}

.going-green-pro-olive .entry-title,
.going-green-pro-olive .entry-title a,
.going-green-pro-olive .footer-widgets .widget-title,
.going-green-pro-olive .genesis-nav-menu .sub-menu .current-menu-item > a,
.going-green-pro-olive .genesis-nav-menu .sub-menu a:hover,
.going-green-pro-olive .navigation li a,
.going-green-pro-olive .sidebar .widget-title a,
.going-green-pro-olive .sidebar a,
.going-green-pro-olive a:hover {
	color: #984a23;
}

.going-green-pro-olive .entry-meta a,
.going-green-pro-olive .site-footer a {
	color: #c3bbad;
}

.going-green-pro-olive .entry-title a:hover {
	color: #46402f;
}

.going-green-pro-olive .after-entry .widget-title,
.going-green-pro-olive .button,
.going-green-pro-olive .button:hover,
.going-green-pro-olive .enews-widget .widget-title,
.going-green-pro-olive .genesis-nav-menu a,
.going-green-pro-olive .navigation li a:hover,
.going-green-pro-olive .navigation li.active a,
.going-green-pro-olive .sidebar .button,
.going-green-pro-olive .sidebar .button:hover,
.going-green-pro-olive .site-footer a:hover,
.going-green-pro-olive .site-title a,
.going-green-pro-olive .site-title a:hover {
	color: #fff;
}

.going-green-pro-olive .enews-widget input[type="submit"],
.going-green-pro-olive button:hover,
.going-green-pro-olive input:hover[type="button"],
.going-green-pro-olive input:hover[type="reset"],
.going-green-pro-olive input:hover[type="submit"] {
	background-color: #609a31;
}

.going-green-pro-olive .site-header {
	background-color: #609a31;
}

.going-green-pro-olive .genesis-nav-menu .sub-menu a,
.going-green-pro-olive .nav-primary {
	background-color: #456f24;
}

.enews-widget input:hover[type="submit"],
.genesis-nav-menu .sub-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu a:hover {
	background-color: #FFFFFF;
}


/*
Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (-moz-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min-device-pixel-ratio: 1.5) {
	
	.site-header {
		background-image: url(images/pattern@2x.png);
	}
	
	.content,
	.footer-widgets .wrap,
	.site-inner .wrap {
		background-image: url(images/pattern-light@2x.png);
	}
	
	.going-green-pro-forest .site-header,
	.sidebar .enews-widget,
	.site-footer {
		background-image: url(images/pattern-dark@2x.png);
	}
	
}

@media only screen and (max-width: 1268px) {

	.footer-widgets,
	.wrap,
	.site-inner {
		max-width: 960px;
	}

	.content {
		width: 640px;
	}
	
	.site-header .widget-area {
		width: 620px;
	}
	
	.title-area {
		width: 340px;
	}
	
	.sidebar-primary {
		width: 300px;
	}
	
	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3 {
		width: 260px;
	}
	
	.genesis-nav-menu a {
		padding: 24px 12px;
	}
	
	.comment-list li ul li {
		margin-right: -40px;
	}

	.comment-list li .avatar,
	.comment-list .comment-author::before {
		display: none;
	}

	.comment-list .comment-author,
	.comment-meta {
		font-size: 14px;
		left: 0;
		position: inherit;
		text-align: left;
		top: 0;
		width: auto;
	}

	.comment-meta {
		margin: 0 0 10px;
	}

	.comment-list cite {
		text-align: left;
	}

	.comment-list cite,
	.comment-list .comment-author .says {
		display: inline-block;
	}

	.comment-list li,
	.ping-list li {
		margin: 20px 0 5px;
	}

}

@media only screen and (max-width: 1023px) {

	.footer-widgets,
	.wrap,
	.site-inner {
		max-width: 768px;
	}

	.content-sidebar-sidebar .content-sidebar-wrap,
	.content-sidebar-sidebar .content,
	.content,
	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-content-sidebar .content,
	.sidebar-primary,
	.sidebar-secondary,
	.sidebar-sidebar-content .content-sidebar-wrap,
	.sidebar-sidebar-content .content,
	.site-header .widget-area,
	.site-inner .wrap,
	.title-area {
		width: 100%;
	}
	
	.site-inner {
		margin: -160px auto 0;
	}
	
	.site-header {
		padding: 30px 0 180px;
	}

	.header-image .site-header .title-area {
		background-position: top !important;
	}

	.entry-footer .entry-meta {
		padding: 0;
	}

	.genesis-nav-menu li,
	.site-header ul.genesis-nav-menu,
	.site-header .search-form {
		float: none;
	}

	.genesis-nav-menu,
	.site-description,
	.site-header .title-area,
	.site-header .search-form,
	.site-title {
		text-align: center;
	}
	
	.title-area {
		padding-bottom: 12px;
	}

	.genesis-nav-menu {
		padding: 0 0 16px;
	}

	.genesis-nav-menu a,
	.genesis-nav-menu > .first > a,
	.genesis-nav-menu > .last > a {
		padding: 3px 12px;
	}

	.site-header .search-form {
		margin: 16px auto ;
	}

	.genesis-nav-menu li.right {
		display: none;
	}
	
	.entry-title {
		font-size: 30px;
	}

	.entry-footer .entry-meta {
		margin: 0;
		padding-top: 12px;
	}

	.footer-widgets-1 {
		margin: 0;
	}

}

@media only screen and (max-width: 834px) {

	.footer-widgets,
	.wrap,
	.site-inner {
		max-width: 768px;
		width: 92%;
	}

	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0;
		width: 100%;
	}
	
	.header-image .site-header .title-area {
		background-size: contain !important;
	}
	
	.genesis-nav-menu.responsive-menu > .menu-item > .sub-menu,
	.genesis-nav-menu.responsive-menu {
		display: none;
	}
	
	.genesis-nav-menu.responsive-menu .menu-item,
	.responsive-menu-icon {
		display: block;
	}
	
	.genesis-nav-menu.responsive-menu .menu-item:hover {
		position: static;
	}
	
	.genesis-nav-menu.responsive-menu .current-menu-item > a,
	.genesis-nav-menu.responsive-menu li a,
	.genesis-nav-menu.responsive-menu li a:hover {
		background: none;
		color: #fff;
		display: block;
		line-height: 1;
		padding: 16px 20px;
	}
	
	.genesis-nav-menu.responsive-menu .menu-item-has-children {
		cursor: pointer;	
	}
	
	.genesis-nav-menu.responsive-menu .menu-item-has-children > a {
		margin-right: 60px;
	}
	
	.genesis-nav-menu.responsive-menu > .menu-item-has-children:before {
		content: "\f347";
		float: right;
		font: normal 16px/1 'dashicons';
		height: 16px;
		padding: 15px 20px;
		right: 0;
		text-align: right;
		z-index: 9999;
	}
	
	.genesis-nav-menu.responsive-menu .menu-open.menu-item-has-children:before {
		content: "\f343";
	}
	
	.genesis-nav-menu.responsive-menu .sub-menu {
		background-color: rgba(0, 0, 0, 0.05);
		left: auto;
		opacity: 1;
		position: relative;
		-moz-transition:    opacity .4s ease-in-out;
		-ms-transition:     opacity .4s ease-in-out;
		-o-transition:      opacity .4s ease-in-out;
		-webkit-transition: opacity .4s ease-in-out;
		transition:         opacity .4s ease-in-out;
		width: 100%;
		z-index: 99;
	}
	
	.genesis-nav-menu.responsive-menu .sub-menu .sub-menu {
		background-color: transparent;
		margin: 0;
		padding-left: 25px;
	}
	
	.genesis-nav-menu.responsive-menu .sub-menu li a,
	.genesis-nav-menu.responsive-menu .sub-menu li a:hover {
		padding: 16px 20px;
		position: relative;
		text-transform: none;
		width: 100%;
	}

}

